.frameIn {
position: relative;
margin-top: 10em;
height:900px;
}

#check_list{
font-family: "Trebuchet MS", Helvetica, sans-serif;
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
/* position: absolute; */
color: #003535;
height: 800px;
width: 1000px;
/* margin: -100px 0 0 -650px; */
margin: 0 auto;
left: 50%;
background-color: rgba(255, 255, 255, 0.33);
border: 50px solid rgba(255, 255, 255, 0.52);
border-left-width: 100px;
border-right-width: 100px;
	
}