<html>
	<head>
		<title>mysite</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="static/js/jquery.min.js"></script>
		<script  type="text/javascript" src="static/js/jquery.dropotron.js"></script>
		<script  type="text/javascript" src="static/js/skel.min.js"></script>
		<script  type="text/javascript" src="static/js/skel-panels.min.js"></script>
		<script  type="text/javascript" src="static/js/init.js"></script>
		<style type="text/css">
		</style>


    <link href="static/css/style.css" rel="stylesheet" type="text/css">



</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
			  <div class="inner">
				<header>
							<h1><a href="#" id="logo">Welcome</a></h1>
							<hr />
<span class="byline"></span>
						</header>
						<footer>
							<a href="#banner" class="button circled scrolly">Start</a>
				</footer>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/blog/">Posts</a> </li>
							<li><a href="/blog/gallery/">Gallery</a></li>
							<li><a href="/about">Abouts</a></li>
							
					  </ul>
			  </nav>

			</div>
			
		<!-- Banner -->
			<div id="banner">
				<h2>Hi. Welcome to personal blog .</h2>
				<span class="byline">
				This is finished by  Tianyi Zhou, Yanhao Zhai, Chenxi Ji
				</span>
			</div>
            

		<!-- Carousel -->
			<div >Gallery </div>
            <div class="carousel">
				<div class="reel">

					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Bueller-III-351975087" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
											
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Disco-351602759" class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
						
									
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/The-Patina-of-Time-and-Tide-352128094" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
						
							
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Cityparts-XVIII-350427779" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
						
								
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Vine-Country-381350120" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
						
								
					</article>

					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Bueller-III-351975087" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
								
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Disco-351602759" class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
						
						
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/The-Patina-of-Time-and-Tide-352128094" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
						
									
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Cityparts-XVIII-350427779" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
						
										
					</article>
				
					<article>
						<a href="http://mdomaradzki.deviantart.com/art/Vine-Country-381350120" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
						
									
					</article>

				</div>
			</div>
            
	</body>
</html>
